@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* Global Selector */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body 
{
    min-height: 100vh;
    background: linear-gradient(#183642,#313D5A);
    font-family: "Poppins",Arial,sans-serif;
}
header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
header .logo 
{
    color: #EAEAEA;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;

}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #EAEAEA;
    border-radius: 7.5px;
    visibility: visible;
    opacity: 1;
    transition: background-color .25s ease-out;
    position: relative;
}
header ul li a:hover
{
    background: #EAEAEA;
    color: #183642;
    visibility: visible;
    opacity: 1;
    transition: all .4s ease-in;
    border-style: outset;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;

}
/* Element Selectors */
/* h1 {
    background-color: rgba(133, 133, 133, 0.39);
    color: rgb(59, 143, 146);
    font-size: 55px;
    text-align: center;
    padding: 10px;
    border: 5px solid rgb(206, 0, 0);
    margin: 20px 10px;
} */
/* 
p {
    color: mediumaquamarine;
} */

/* ID selector */
/* #first-paragraph { */
    /* background-color: rgb(139, 91, 27); */
/* } */

/* Class selector */
/* .blue-text { */
    /* color: blue; */
    /* font-size: 24px; */
/* } */