@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* Global Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}
/* colors
$red: #cc3434 ; */

h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1.2;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(#183642,#73628A);
    font-family: "Poppins", Arial, sans-serif;
    color: #EAEAEA;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 6.66%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}   
.logo {
    color: #EAEAEA;
    font-weight: 500;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
}
.navbar {
    list-style: none;
    margin-left: 25px;
}
.navbar a {
    text-decoration: none;
    padding: 5px 20px;
    color: #EAEAEA;
    border-radius: 5px;
    visibility: visible;
    opacity: 1;
    transition: color .25s ease-out;
    position: relative;
}
.navbar a:hover, .navbar a.active {
    background: #eaeaea00;
    color: #cc3434 ;
    visibility: visible;
    opacity: 1;
    transition: color .4s ease-in;
}

/* nav li a.active {} */


.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 500;
    color: #cc3434 ;
}
.home-content {
    background: transparent;
    max-width: 600px;
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
/* hire me */
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #eaeaea;
    border: 3px solid  #eaeaea;
    border-radius: 8px;
    font-size: 19px;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    visibility: visible;
    opacity: 1;
    transition: .5s ease-out;
    z-index: 1;
}
.btn-box a:hover {
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
    color: #cc3434;
    background: none;
    border: 3px solid  #eaeaea;
    /* background: rgba(255, 0, 0, opacity); */

  visibility: visible;
  /* background: none; */
  transition: .5s ease-in;
  overflow: hidden; 
}
/* lets talk button */
/* .btn-box a:nth-child(2) {
    background: none;
    color: #cc3434 
}
.btn-box a:nth-child(2)::hover {
    background: #ffffff;
}
/*hire me */
/* .btn-box a:nth-child(2)::before {
    background: #fff; 
    color:#726262
} */
/* mouseover "hire me" */
/* .btn-box a::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
     width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
} */
/* .btn-box a:hover::before {
    width: 100%;
} */
